<html>
	<head>
		<title>JSON Converter</title>
		<style type='text/css'>
			body{
				background-color:#f5f5f5;
				font-family:arial,sans-serif;
			}
			textarea{
				min-width:500px;
				min-height:400px;
			}
		</style>
	</head>
	<body>
		<h4>Enter Pythonic Dict/Json string and receive actual JSON</h4><br />
		<form action='http://www.joeytyndale.com:82' method="POST">
			<textarea name='dictionaryString' placeholder='Enter dictionary string here'></textarea><br /><br />
			<button>Convert</button>
		</form>
	</body>
</html>

